<h1><%= @guest.name %></h1>

<h3><%= @guest.occupation %></h3>

<h3>Appeared In</h3>

<ul>
  <% @guest.episodes.each do |episode| %>
    <li><%= link_to episode.date, episode %></li>
  <% end %>
</ul>
