<h1>Welcome, <%= @user.username %></h1>

<br><br>
<%= link_to 'Guest List', guests_path %><br>
<%= link_to 'Episode List', episodes_path %><br><br>

<%= link_to 'Make New Appearance', new_appearance_path %>
